## model_index.html
<%inherit file="/defaults/layout.html" />
<h1>Entities in Model</h1>
<%
    app = c.application
    entities = app.model_entities
%>
% if entities:
    <ul>
        % for e in c.application.model_entities:
            <li>
                ${h.link_to(e.__name__, h.url_for(entity_name=e.__name__.lower(), controller='data', application_id=app.id))}
            </li>
        % endfor
    </ul>
% else:
    <p>There are no entities in this model.</p>
% endif

<%def name="nav()">
    ${h.make_nav_list([h.nav_list_for_parent(c)])}
</%def>
